<div class='container' id= 'create-choice'>
  <form action="/question/<%=@question.id%>/choices" method="POST">
    <input type="text" name="text" placeholder="Choice"/>
    <input type="submit" value="Add" />
  </form>
</div>