<div class='container' id= 'create-choice'>
  <h1><%=@question.text%></h1>
  <form action="/questions/<%=@question.id%>/choices" method="POST">
    <input type="text" name="text" placeholder="Choice"/>
    <input type="submit" value="Add" />
  </form>

</div>