html{
  background-color: red;
}

form {
  text-align: center;
}

li {
font-family: 'Montserrat', sans-serif;
}

.header-bar{
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-left: 10px;
  padding-right: 1em;
  box-shadow: 0px 5px 5px #d4d4d4;

}

#header{
  display: inline-block;
  padding-bottom: 1em;

}

#nav {
  float: right;
}

#nav > a {
  text-decoration: none;
  color: white;
}

#deck_list {
  text-align: left;
}

.page_headline{
  padding-bottom: 1em;
  text-align: center;
}

.container {
  background-color: white;
  width:200px;
  height:200px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  margin-top: 2em;
  border-style: solid;
  border-width: 5px;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 100px;
  border-radius: 500px;
  vertical-align: middle;
}

.container a {
  text-align: center;
  vertical-align: middle;
}

.button{
  margin-top: 10px;
}

.create-survey{
  background-color: white;
  margin-top: 25px;
  border:solid black;
  width:500px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
}


#t{
  margin-top:10px;
}


/*.index {
text-align: center;
font-size: 20px;
margin-top: 30px;
font-family: 'Fjalla One', sans-serif;
font-style: none;
width:60px;
}*/

.entry {
  text-align: center;
}

.input {
  padding: 1em;
}

.round_container {
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2em;
  padding: .5em;
  border-style: solid;
  border-width: 5px;
  text-align: center;
}

/*table {
   border: 1px solid black;
   text-align: center;
}*/

.round_container table {
  width: 100%;
}

.round_container th {
  height: 40px;
  background-color: #A9A9A9;
}

.round_container td {
  height: 40px;
  background-color: #F0F8FF;
}

#circle {
  position: relative;
  left: 1em;
}

#circle strong {
  position: relative;
  right: 2.75em;
  bottom: 1.625em;
  font-size: 125%;
}

#question-choices {
  list-style:none;
}

#survery-lisr {

}