  <div class="container">
    <h1> Sign Up </h1>
    <div>
    <%if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p><%=error%></p>
      <%end%>
    <%end%>
    </div>
    <form action="/signup" method="POST">
      <p><input id="user_email" type="text" name="user[email]" placeholder="Email"/></p>
      <p><input id="password" type="password" name="user[password]" placeholder="Password"/></p>
      <p><input type="submit" value="Submit"/></p>
    </form>
  </div>

  <div class="container">
    <h1>Log In</h1>
    <form action="/login" method="POST">
      <p><input id="user_email" type="text" name="user[email]" placeholder="Email"/></p>
      <p><input id="password" type="password" name="user[password]" placeholder="Password"/></p>
      <p><input type="submit" value="Submit"/></p>
    </form>
  </div>


