<% @surveys.each do |survey| %>
  <div class='container'>
    <a href="/surveys/<%= survey.id %>"><%= survey.title %></a>
    <form id= 'edit-survey' action='/surveys/<%= survey.id %>/edit' method="get">
      <input type="submit" value="Edit" />
    </form>
    <form id= 'delete-survey' action='/surveys/<%= survey.id%>' method="POST">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>
<% end %>

<div class='container' id= 'create-survey'>
  <form action="/surveys" method="POST">
    <input type="text" name="title" placeholder="Title"/>
    <input type="submit" value="Create Survey" />
  </form>
</div>
