
<div class='container' id='survey-list'>
  <% @surveys.each do |survey| %>
    <li><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
  <% end %>
</div>

<div class='container' id= 'create-survey'>
  <form action="/surveys" method="POST">
    <input type="text" name="title" placeholder="Title"/>
    <input type="submit" value="Create Survey" />
  </form>
</div>
