<h2><%= @survey.title %></h2>

<div class='container' id='question-list'>
  <h3><%= @question.text %></h3>
  <form action="/responses" method="POST">
    <ul id="question-choices">
      <% @question.choices.each do |choice| %>
        <li><input type="radio" name="response" value="<%= choice.text%>"> <%= choice.text %> </input></li>
      <% end %>
    </ul>
    <input type="submit" value="Add" />
  </form>
</div>


